include LICENSE
include README.md
include pyproject.toml
include *.txt
include requirements.txt
include requirements-test.txt
include orbit/stan/*.stan
include orbit/stylelib/*.mplstyle
include orbit/cmdstan_version.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile
