include LICENSE
include README.md
include *.txt
include requirements.txt
include requirements-test.txt
include orbit/stan/*.stan

prune orbit/stan_compiled

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile
