arviz
cmdstanpy>=1.0.4
importlib_resources
ipywidgets
matplotlib>=3.3.2
numpy>=1.18
pandas>=1.0.3
pyro-ppl>=1.4.0
scipy>=1.4.1
seaborn>=0.10.0
setuptools>=42
statsmodels>=0.11.1
torch>=1.11.0
tqdm>=4.36.1