arviz>=0.17.1
cmdstanpy>=1.2.1
importlib_resources>=6.4.0
ipywidgets
matplotlib>=3.8.3
numpy>=1.26.4
pandas>=2.2.1
pyro-ppl>=1.9.0
scipy>=1.12.0
seaborn>=0.13.2
setuptools>=42
statsmodels>=0.14.1
torch>=2.2.1
tqdm>=4.66.2